.navbar-custom {
    background: rgb(24, 24, 24) !important;
}

.hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
}

.row {
    position: relative;
    top: 35%;
}

.title {
    font-size: 50px;
    color: white;
    letter-spacing: 20px;
   
}

.sub-header {
    margin-top: 30px;
    color: white;
    letter-spacing: 4px;
}

@keyframes first-slide-in{
    from{
        margin-left: -100%;
        color: transparent;
    }

    to {
        margin-left: 0%;
        color: white;
    }
}

@keyframes second-slide-in {
    from{
        margin-left: -150%;
        color: transparent;
    }

    to {
        margin-left: 0%;
        color: white;
    }
}

@keyframes third-slide-in {
    from{
        margin-left: -200%;
        color: transparent;
    }

    to {
        margin-left: 0%;
        color: white;
    }
}

.first-line {
    text-indent: -8em;
    animation-name: first-slide-in;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.second-line {
    animation-name: second-slide-in;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.third-line {
    text-indent: 8em;
    animation-name: third-slide-in;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

.highlight-word {
    color: yellow;
}

.overview {
    background-color: rgb(20, 20, 20);
}

.overview-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.overview-description {
    text-align: center;
    margin-top: 40px;
}

.overview-imgview {
    margin: 50px 50px 50px 50px;
    text-align: center; 
}

.paragraph-section {
    color: white;
    font-size: 20px;
    line-height: 30px;
}

.hob-collection {
    height: 60vh;
    width: 100%;
    background-image: url("../images/pameandfriends.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.title-row {
    position: relative;
    top: 50%;
}

.collection-title {
    text-align: center;
    color: white;
    letter-spacing: 2px;
}

.hob-description {
    background-color: rgb(20, 20, 20);

}

.hob-imgs {
    margin: 50px 50px 10px 10px;
    padding-bottom: 50px;
}

.description-paragraph {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.first-img-col{
    margin-left: 15px;
}


.second-img-col{
    margin-left: -15px;

}

.product-img {
    width: 100%;
    height: 50%;
    margin-top: 10px;
}


